.container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    margin: 0 0 100px;
    box-shadow: 0 5px 24px rgba(149, 157, 165, 0.4);
    z-index: 10;
}
.navbar{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 30px 180px;
    height: 40px;
}
.brand{
    color: #3a86ff;
    font-size: 35px;
    font-weight: 900;
    text-decoration: none;
    font-family: 'Angelina';
}
.navLinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.navLink{
    text-decoration: none;
    color: #3a86ff;
    font-weight: bold;
    /* border-bottom: 2px solid #3a86ff; */
    border-radius: 5px;
    padding: 0 5px;
    margin: 0 20px;
    transition: all 0.3s ease;
}

.navLink:hover{
    color: #0b499b;
    border-bottom-color: #0b499b;
}
.iconContainer{
    margin-left: 30px;
    position: relative;
}
.iconContainer img{
    width: 40px;
    color: #3a86ff;
}
.iconContainer span{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fb8500;
    line-height: 18px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: .75rem;
}

@media (max-width: 1200px) {
    .navbar{
        padding: 15px 80px;
    }
}
@media (max-width: 768px) {
    .navbar{
        padding: 15px 40px;
    }
}
@media (max-width: 555px) {
    .navbar{
        padding: 15px 20px;
    }
}

