.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  padding: 0 150px;
}
.isError{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  padding: 0 150px;
}
.error img{
  width: 400px;
}
.error p{
  font-size: 20px;
  font-weight: 600;
  background-color: #fb8500;
  width: fit-content;
  margin: 5px auto;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  text-transform: capitalize;
}

@media (max-width: 1200px) {
  .container {
    padding: 15px 80px;
    margin-top: 110px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 15px 40px;
  }
}

@media (max-width: 555px) {
  .container {
    justify-content: center;
    padding: 15px 10px;
  }
}

/* @media (max-width: 555px) {
  .container {
    padding: 15px 10px;
  }
} */
